/*------------------------------------*\
 * Homepage Stats css
\*------------------------------------*/
.homepage-stats {
    padding-top: 32px;
}

@media(min-width:768px) {
    .homepage-stats {
        padding-top: 0;
        margin-top: -70px;
        position: relative;
        z-index: 4;
    }
}

@media(min-width:1025px) {
    .homepage-stats {
        margin-top: -85px;
    }
}

/*
 * Stats Wrapper
 */
.stats-wrapper {
    max-width: 218px;
    margin: 0 auto;
}

@media(min-width:768px) {
    .stats-wrapper {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media(min-width:1025px) {
    .stats-wrapper {
        max-width: 759px;
    }
}

/*
 * Stats Content
 */
.stats-content {
    position: relative;
    height: 140px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media(min-width:768px) {
    .stats-content {
        border-radius: 0;
        margin-bottom: 0;
    }
}

@media(min-width:1025px) {
    .stats-content {
        height: 170px;
        padding: 0 60px;
    }
}

    .stats-content:last-child {
        margin-bottom: 0;
    }

    .stats-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 1;
        border-radius: 12px;
    }

    @media(min-width:768px) {
        .stats-content::before {
            border-radius: 0;
        }
    }

    @media(min-width:768px) {
        .stats-content:first-child,
        .stats-content:first-child img,
        .stats-content:first-child::before {
            border-radius: 12px 0 0 12px;
        }

        .stats-content:last-child,
        .stats-content:last-child img,
        .stats-content:last-child::before {
            border-radius: 0 12px 12px 0;
        }
    }

    .stats-content.blue::before {
        background-color: var(--color-lightblueopacity);
    }

    .stats-content.green::before {
        background-color: var(--color-greenopacity);
    }

    .stats-content.pink::before {
        background-color: var(--color-pinkopacity);
    }

    .stats-content.orange::before {
        background-color: var(--color-orangeopacity);
    }

.stats-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 12px;
}

@media(min-width:768px) {
    .stats-content img {
        border-radius: 0;
    }
}

.stats-content h2,
.stats-content p {
    position: relative;
    z-index: 5;
    color: var(--color-white);
    margin: 0;
    text-align: center;
}

.stats-content h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

@media(min-width:768px) {
    .stats-content h2 {
        font-size: 37px;
    }
}

.stats-content p {
    font-weight: 700;
}

@media(min-width:768px) {
    .stats-content p {
        font-size: 19;
    }
}
