/*------------------------------------*\
 * Homepage Fundraiser css
\*------------------------------------*/
.homepage-fundraiser {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media(min-width:768px) {
    .homepage-fundraiser {
        padding-top: 80px;
        padding-bottom: 0;
    }
}

@media(min-width:1025px) {
    .homepage-fundraiser {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

    .homepage-fundraiser::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-lightblue);
        opacity: 0.7;
        z-index: 1;
    }

    .homepage-fundraiser > div {
        position: relative;
        z-index: 2;
    }

    @media(min-width:768px) {
        .homepage-fundraiser > div {
            max-width: 500px;
        }
    }

    @media(min-width:1025px) {
        .homepage-fundraiser > div {
            max-width: 1163px;
        }
    }

@media(min-width:768px) {
    .homepage-fundraiser .row > div:nth-child(2n+1){
        padding-right: 30px;
    }

    .homepage-fundraiser .row > div:nth-child(2n+2){
        padding-left: 30px;
    }
}


@media(min-width:1025px) {
    .homepage-fundraiser .row {
        min-height: 350px;
    }

    .homepage-fundraiser .row > div:nth-child(2n+1){
        padding-right: 16px;
    }

    .homepage-fundraiser .row > div:nth-child(2n+2){
        padding-left: 16px;
    }
}

/*
 * fundraiser Background
 */
.fundraiser-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*
 * fundraiser Title
 */
.fundraiser__subheading {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 5px;
}

@media(min-width:768px) {
    .fundraiser__subheading {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.fundraiser__heading {
    color: var(--color-white);
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

@media(min-width:768px) {
    .fundraiser__heading {
        margin-bottom: 40px;
    }
}

/*
 * fundraiser Content
 */
.fundraiser-content {
    display: block;
    position: relative;
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 25px;
    overflow: hidden;
}

.fundraiser-content.active {
    border-top: 10px solid var(--color-green);
}

@media(min-width:768px) {
    .fundraiser-content {
        border: none;
        margin-bottom: 60px;
        padding: 45px 18px 30px;
    }

    .fundraiser-content:hover {
        border-top: 10px solid var(--color-green);
    }
}

@media(min-width:1025px) {
    .fundraiser-content {
        margin-bottom: 32px;
    }
}

.fundraiser-tablet {
    display: none;
}

@media(min-width:768px) {
    .fundraiser-tablet {
        position: absolute;
        top: 0;
        left: 16px;
        width: calc(100% - 46px);
        height: calc(100% - 60px);
        display: block;
        z-index: 2;
    }
}

@media(min-width:1025px) {
    .fundraiser-tablet {
        display: none;
    }
}

.fundraiser-onshow {
    background-color: var(--color-white);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media(min-width:768px) {
    .fundraiser-onshow {
        min-height: 100px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .fundraiser-content:hover .fundraiser-onshow {
        min-height: 0;
    }
}

@media(min-width:1025px) {
    .fundraiser-onshow {
        min-height: 170px;
    }
}

.fundraiser-img {
    max-width: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.fundraiser-content.active .fundraiser-img {
    max-width: 0;
}

@media(min-width:768px) {
    .fundraiser-content .fundraiser-img {
        max-width: 70px;
        margin-bottom: 15px;
    }

    .fundraiser-content:hover .fundraiser-img {
        max-width: 0;
        margin-bottom: 0;
    }
}

@media(min-width:1025px) {
    .fundraiser-content .fundraiser-img {
        margin-bottom: 30px;
    }
}

.fundraiser-img img {
    max-height: 34px;
    width: auto;
}

@media(min-width:768px) {
    .fundraiser-img img {
        max-height: 70px;
    }
}

.fundraiser-onshow h3 {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

.fundraiser-content.active .fundraiser-onshow h3 {
    margin-left: 0;
}

@media(min-width:768px) {
    .fundraiser-content .fundraiser-onshow h3 {
        margin-left: 0;
    }
    .fundraiser-content:hover .fundraiser-onshow h3 {
        margin-left: 0;
        font-size: 18px;
    }
}

.fundraiser-onhide {
    opacity: 0;
    margin: 0;
    max-height: 0;
    transform: translateY(-50%);
}

.fundraiser-onhide p {
    margin: 0;
}

.fundraiser-content.active .fundraiser-onhide {
    opacity: 1;
    max-height: 600px;
    transform: translateY(0);
}

@media(min-width:768px) {
    .fundraiser-content .fundraiser-onhide {
        opacity: 0;
        margin: 0;
        max-height: 0;
        text-align: center;
    }

    .fundraiser-content:hover .fundraiser-onhide {
        opacity: 1;
        max-height: 600px;
        transform: translateY(0);
    }
}

.fundraiser-content.active .fundraiser-onhide p {
    margin: 1em 0;
}

@media(min-width:768px) {
    .fundraiser-content .fundraiser-onhide p {
        margin: 1em 0;
    }
}

@media(min-width:1025px) {
    .fundraiser-content:hover .fundraiser-onhide p {
        margin: 1em 0;
    }
}
