/*------------------------------------*\
 * Homepage CTA css
\*------------------------------------*/
.homepage-cta {
    background: var(--color-greencta);
    position: relative;
    margin-top: 55px;
    padding-top: 33px;
    padding-bottom: 32px;
}

.homepage-cta .container {
    padding-left: 33px;
}

.homepage-cta .cta__img {
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    bottom: 0;
    width: 62%;
    max-width: 300px;
    right: -45px;
}

.cta-wrapper--content h3,
.cta-wrapper--content p {
    width: 70%;
}

.cta-wrapper--content {
    position: relative;
    z-index: 2;
}

.cta-wrapper--content p {
    color: #122878;
}

@media(min-width:768px){
    .homepage-cta {
        background: transparent;
        margin-top: 0;
        padding-top: 150px;
        padding-bottom: 0;
    }

    .homepage-cta .container {
        padding-left: 22px;
    }

    .cta-wrapper{
        background: var(--color-greencta);
        position: relative;
        border-radius: 12px;
        -webkit-filter: drop-shadow(0px 6px 12px rgba(196, 216, 241, 0.16));
                filter: drop-shadow(0px 6px 12px rgba(196, 216, 241, 0.16));

    }

    .cta-wrapper--content h3{
        margin-top: 0;
    }

    .homepage-cta .cta__img{
        max-width: 100%;
        width: 330px;
        right: -5px;
        border-radius: 12px;
    }

    .cta-wrapper--content {
        padding: 42px 32px;
    }
}

@media(min-width:1025px){
    .cta-wrapper--content {
        text-align: center;
        max-width: 900px;
        margin-right: 360px;
    }

    .cta-wrapper--content h3, .cta-wrapper--content p {
        width: auto;
    }

    .homepage-cta .cta__img{
        width: 330px;
    }
}
