/*------------------------------------*\
 * Homepage Events css
\*------------------------------------*/
.homepage-events {
    padding-top: 70px;
}

/*
 * Events Title
 */
.events-title {
    text-align: center;
}

/*
 * Events Content
 */
.events-content {
    padding-top: 30px;
}

@media(min-width:768px) {
    .events-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(min-width:1025px) {
    .events-content {
        max-width: 1100px;
        margin: 0 auto;
        padding-left: 22px;
        padding-right: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/*
 * Events Item
 */
.events-item {
    display: block;
    background: #fff;
    filter: drop-shadow(0px 3px 12px rgba(108, 146, 210, 0.16));
}

@media(min-width:768px) {
    .events-item {
        max-width: 48%;
    }
}

@media(min-width:1025px) {
    .events-item {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .events-item.image-right .events-image {
        order: 2;
    }

    .events-item.image-right .events__price {
        left: auto;
        right: 23px;
    }
}

/*
 * Events Image
 */
.events-image {
    position: relative;
}

@media(min-width:1025px) {
    .events-image {
        max-width: 50%;
        width: 100%;
    }
}

.events-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events__price {
    position: absolute;
    top: 15px;
    left: 23px;
    background-color: var(--color-white);
    padding: 8px 10px;
    margin: 0;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--color-blue);
}

@media(min-width:1025px) {
    .events__price {
        font-size: 16px;
    }
}

/*
 * Events Info
 */
.events-info {
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
}

@media(min-width:1025px) {
    .events-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 50%;
        width: 100%;
        padding: 60px;
    }
}

/*
 * Events Date
 */
.events-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.events-date p {
    display: inline-block;
    margin: 0;
}

.events__month {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    letter-spacing: 0.1em;
    line-height: 1.33em;
    padding: 0 2px 5px;
    border-bottom: 1px solid var(--color-blue);
}

.events__day {
    font-size: 36px;
    font-weight: 700;
    padding: 0 2px;
    color: var(--color-blue);
}

/*
 * Events Text
 */

@media(min-width:1025px) {
    .events-text {
        padding-left: 30px;
    }
}

.events-text a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-green);
}

.events-text a i {
    font-size: 11px;
    margin-left: 8px;
}

.events__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    color: #A5A5A5;
}

.events__location i {
    margin-right: 6px;
}

@media(min-width:1025px) {
    .events-text h3 {
        margin-top: 0;
    }
}
