/*------------------------------------*\
 * Homepage About css
\*------------------------------------*/
.homepage-about {
    padding-top: 30px;
    padding-bottom: 70px;
}

@media(min-width:768px) {
    .homepage-about {
        padding-top: 80px;
        padding-bottom: 100px;
    }
}

@media(min-width:1025px) {
    .homepage-about {
        padding-top: 90px;
    }
}


.about-diamonds {
    width: 100%;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 15%;
}
/*
 * About List imgs
 */
.about-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.about-item {
    position: relative;
    width: calc(50% - 8%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: -7%;
}

.about-item-wrapper {
    position: relative;
    width: calc(71% + 8%);
    cursor: pointer;
}

    .about-item:nth-child(3n+1) {
        width: 100%;
    }

    .about-item:nth-child(3n+1) .about-item-wrapper {
        width: 32%;
    }

    .about-item:nth-child(3n+2) {
        justify-content: right;
        margin-right: 8%;
    }

    .about-item:nth-child(3n+3) {
        justify-content: left;
        margin-left: 8%;
    }

    .about-item::before {
        display: none;
    }

@media(min-width:768px) {
    .about-item-wrapper:hover .about-img img {
        transform: rotate(-45deg) scale(1.6);
    }
}

@media(min-width:1025px) {
    .homepage-about .row > div:nth-child(1) {
        padding-right: 37.5px;
    }

    .homepage-about .row > div:nth-child(2) {
        padding-left: 37.5px;
    }
}

/*
 * About Images
 */

.about-img {
    width: 100%;
    height: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 7px;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.about-img img {
    -webkit-transform: rotate(-45deg) scale(1.4);
    transform: rotate(-45deg) scale(1.4);
    transition: all 0.5s ease-in-out;
}

/*
 * About Toggle Icons
 */
.about-item span {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 25%;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item.active span {
    background-color: var(--color-green);
}

    .about-item:nth-child(2n+2) span {
        bottom: 0;
        left: 0;
        top: auto;
    }

.about-item span i {
    font-size: 70%;
    color: var(--color-green);
    transition: all 0.5 ease-in-out;
}

@media(min-width:768px) {
    .about-item span i {
        font-size: 22px;
    }
}

@media(min-width:1025px) {
    .about-item span i {
        font-size: 15px;
    }
}

.about-item.active span i {
    color: var(--color-white);
}

/*
 * About details
 */
.about-details {
    position: relative;
}

@media(min-width:768px) {
    .about-details {
        max-width: 472px;
        margin: 0 auto;
    }
}

@media(min-width:1025px) {
    .about-details {
        max-width: 533px;
        margin: 0 auto;
    }
}

.about-info {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 22px;
    transition: all 0.5s ease-in-out;
}

.about-info.active {
    position: static;
    opacity: 1;
    visibility: visible;
}

.about-info-wrap {
    position: relative;
    padding: 30px 15px 20px;
    background-color: var(--color-white);
    filter: drop-shadow(0px 0px 20px rgba(108, 146, 210, 0.16));
    border-radius: 6px;
}

@media(min-width:768px) {
    .about-info-wrap {
        padding: 20px 30px 20px;
    }
}

    .about-info-wrap::before {
        content: "";
        position: absolute;
        left: 40px;
        top: -10px;
        width: 0;
        height: 0;
        border: 1em solid black;
        border-color: transparent transparent var(--color-white) var(--color-white);
        transform: rotate(135deg);
        filter: drop-shadow(0px 0px 20px rgba(108, 146, 210, 0.16));
        box-sizing: border-box;
    }

    @media(min-width:768px) {
        .about-info-wrap::before {
            left: 90px;
        }
    }

.about-info-wrap span:first-child {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-blue);
    margin-bottom: 5px;
}

@media(min-width:768px) {
    .about-info-wrap span:first-child {
        font-size: 18px;
    }
}

.about-info-wrap span:nth-child(2) {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

@media(min-width:768px) {
    .about-info-wrap span:nth-child(2) {
        font-size: 16px;
    }
}

.about-info-wrap p {
    margin-top: 0;
    margin-bottom: 20px;
}
/*
 * About Content
 */
.about-content {
    padding-top: 45px;
}

@media(min-width:768px) {
    .about-content {
        padding-top: 100px;
        padding-left: 58px;
        padding-right: 58px;
    }
}

@media(min-width:1025px) {
    .about-content {
        padding-top: 140px;
        padding-left: 0;
        padding-right: 0;
    }
}
