/*------------------------------------*\
 * Homepage Hero css
\*------------------------------------*/
.homepage-hero {
    position: relative;
    min-height: 546px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

@media(min-width:768px) {
    .homepage-hero {
        min-height: 750px;
        padding-bottom: 45px;
    }
}

@media(min-width:1025px) {
    .homepage-hero {
        min-height: 100vh;
        padding-bottom: 45px;
    }
}

@media(min-width:1600px) {
    .homepage-hero {
        min-height: 85vh;
    }
}

/*
 * Overlay
 */
.hero-overlay,
.hero-overlay::before,
.hero-overlay::after {
    position: absolute;
    left: 0;
    width: 100%;
}

.hero-overlay {
    top: 0;
    height: 100%;
    background-color: rgba(17, 40, 120, 0.55);
    z-index: 2;
}

.hero-overlay::before,
.hero-overlay::after {
    content: "";
    height: 110px;
    opacity: 0.69;
    z-index: 3;
}

@media(min-width:768px) {
    .hero-overlay::before,
    .hero-overlay::after {
        height: 120px;
    }
}

@media(min-width:1025px) {
    .hero-overlay::before,
    .hero-overlay::after {
        height: 150px;
    }
}

.hero-overlay::before {
    top: 0;
    background: linear-gradient(#112878 0%, rgba(9, 20, 61, 0.02) 85.35%, rgba(9, 20, 60, 0) 100%);
}

.hero-overlay::after {
    transform: rotate(180deg);
    bottom: 0;
    background: linear-gradient(#112878 0%, rgba(9, 20, 61, 0.02) 85.35%, rgba(9, 20, 60, 0) 100%);
}

/*
 * Background
 */
.hero-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/*
 * Content
 */
.hero-content {
    position: relative;
    z-index: 4;
}

.hero-content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hero-content h1,
.hero-content p {
    color: var(--color-white);
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 5px;
}

.hero-content p {
    margin-top: 0;
    margin-bottom: 15px;
}

.hero-content__link {
    margin-top: 15px;
    color: var(--color-white);
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media(min-width:1025px) {
    .hero-content__link:hover {
        color: var(--color-green);
    }
}

.hero-content__link .icon-play {
    font-size: 18px;
    margin-right: 11px;
}
