/*------------------------------------*\
 * Homepage News css
\*------------------------------------*/
.homepage-news {
    padding-top: 55px;
    padding-bottom: 45px;
}

@media (min-width: 768px) {
    .homepage-news {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .homepage-news .news-content {
        padding-left: 85px;
        padding-right: 85px;
    }
}

@media (min-width: 1025px) {
    .homepage-news {
        padding: 130px 0;
    }

    .homepage-news .news-content {
        padding-left: 22px;
        padding-right: 22px;
    }
}

/*
 * News Title
 */
.news-title {
    text-align: center;
    margin-bottom: 30px;
}

/*
 * News Main
 */
.news-main {
    display: block;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(108, 146, 210, 0.16);
    overflow: hidden;
}

@media (min-width: 1025px) {
    .news-main:hover {
        font-weight: 400;
    }

    .news-main:hover .news-figure img {
        transform: scale(1.1);
    }

    .news-main .text-link {
        transition: all 0.5s ease-in-out;
    }

    .news-main:hover .text-link {
        color: var(--color-lightblue);
    }
}

/*
 * News Figure
 */
.news-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.news-figure img {
    position: relative;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
    .news-figure img {
        height: 496px;
        object-fit: cover;
    }
}

.news-figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    opacity: 0.6;
    z-index: 2;
}

/*
 * News Info
 */
.news-info {
    display: block;
    padding: 20px 15px;
}

@media (min-width: 768px) {
    .news-info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 0 50px 18px;
    }
}

.news__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px 10px;
    margin: 0;
    color: var(--color-white);
    z-index: 2;
    font-weight: 700;
}

@media (min-width: 768px) {
    .news__title {
        position: static;
        padding: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .news__excerpt {
        color: var(--color-white);
        margin: 0;
        margin-bottom: 10px;
    }
}

/*
 * News sub
 */
.news-sub {
    position: relative;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

@media (min-width: 1025px) {
    .news-sub:hover img {
        transform: scale(1.1);
    }
}

.news-sub::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.news-sub.green::before {
    background-color: var(--color-green);
    mix-blend-mode: multiply;
}

.news-sub.blue::before {
    background-color: var(--color-blue);
    mix-blend-mode: multiply;
    opacity: 0.6;
}

.news-sub.lightblue::before {
    background-color: var(--color-lightblue);
    mix-blend-mode: multiply;
}

.news-sub.pink::before {
    background-color: var(--color-pink);
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.news-sub img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.news-sub .news__title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 13px;
}

.news-sub--up {
    padding-bottom: 16px;
}

.news-sub--down {
    padding-top: 16px;
}
