/*------------------------------------*\
 * Homepage Accordion css
\*------------------------------------*/
.homepage-accord {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: var(--color-whiteblue);
}

@media(min-width:768px) {
    .homepage-accord {
        background-color: transparent;
        padding-bottom: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(min-width:1025px) {
    .homepage-accord {
        padding-top: 100px;
        padding-bottom: 180px;
        overflow: hidden;
    }
}

/*
 * Accordion Title
 */
.accord-title {
    position: relative;
    z-index: 4;
}
/*
 * Accordion Content
 */
.accord-content {
    position: relative;
    z-index: 4;
}

.accord-content .fxa-accordion {
    margin-bottom: 0;
}

/*
 * Accordion Panels
 */
.accord-panel {
    border: none;
    border-radius: 12px;
    background: var(--color-white);
    box-shadow: 0px 3px 12px rgba(108, 146, 210, 0.16);
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .accord-panel {
        position: relative;
        padding: 20px 0 20px 60px;
    }

    .accord-panel.is-expanded {
        padding: 35px 0 35px 60px;
    }
}

    .accord-panel:last-child {
        margin-bottom: 0;
    }

.accord-panel .fxa-accordion__panel__toggle,
.accord-panel .fxa-accordion__panel__content {
    border: none;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__content {
        max-width: calc( 70% - 40px);
    }
}

/*
 * Accordion Toggle
 */
.accord-panel .fxa-accordion__panel__toggle {
    padding: 16px;
    margin-top: 0;
    border-radius: 12px 12px 0 0;
    background-color: var(--color-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

    .accord-panel .fxa-accordion__panel__toggle:after {
        display: none;
    }

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__toggle {
        position: relative;
        z-index: 1;
        padding: 0 25px 0 0;
        background-color: transparent !important;
        border: none !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.accord-panel .fxa-accordion__panel__toggle h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__toggle h3 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0;
    }
}

.accord-panel.is-expanded .fxa-accordion__panel__toggle h3 {
    margin-bottom: 0;
}

.accord-panel .fxa-accordion__panel__toggle img {
    margin-right: 16px;
    max-width: 30px;
    max-height: 30px;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__toggle img {
        margin-right: 10px;
        max-width: 50px;
        max-height: 50px;
    }
}

.accord-panel .fxa-accordion__panel__toggle .accord-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-blue);
}

.accord-panel .fxa-accordion__panel__toggle .accord-close {
    display: none;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__toggle .accord-open {
        font-size: 15px;
        font-weight: 700;
        -ms-flex-item-align: center;
            align-self: center;
    }
}

.accord-panel.is-expanded .fxa-accordion__panel__toggle .accord-open {
    display: none;
}

@media(min-width:768px) {
    .accord-panel.is-expanded .fxa-accordion__panel__toggle .accord-open {
        display: none;
    }

    .accord-panel.is-expanded .fxa-accordion__panel__toggle .accord-close {
        display: block;
        color: var(--color-white);
    }
}

.accord-panel .fxa-accordion__panel__toggle i {
    font-size: 10px;
    margin-left: 10px;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__toggle i {
        font-size: 18px;
    }
}

/*
 * Accordion Content
 */
.accord-panel .fxa-accordion__panel__content {
    padding: 0;
}

@media(min-width:1025px) {
    .accord-panel .fxa-accordion__panel__content {
        position: static;
    }
}

.accord-panel .fxa-accordion__panel__content img {
    border-radius: 0 0 12px 12px;
    width: 100%;
    max-height: 134px;
    object-fit: cover;
    margin-bottom: -5px;
}

@media(min-width:768px) {
    .accord-panel .fxa-accordion__panel__content img {
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        max-height: 100%;
        height: 100%;
        border-radius: 0 12px 12px 0;
    }
}

/*
 * Accordion Text
 */
.accord-text {
    padding: 0 18px 20px;
}

@media(min-width:768px) {
    .accord-text {
        padding: 0;
        padding-top: 15px;
    }
}

.accord-text p {
    margin-top: 0;
    margin-bottom: 15px;
}

@media(min-width:768px) {
    .accord-text p {
        margin-bottom: 30px;
    }
}

/*
 * Accordion Background
 */
.accord-bg {
    display: none;
}

@media(min-width:768px) {
    .accord-bg {
        display: block;
    }

    .accord-bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--color-lightblue);
        mix-blend-mode: color;
    }

    .accord-bg__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .accord-bg__person {
        position: relative;
        z-index: 4;
        margin-bottom: -10px;
    }
}

@media(min-width:1025px) {
    .accord-bg__person {
        position: absolute;
        top: auto;
        bottom: 0;
        right: -13%;
        z-index: 4;
        margin-bottom: 0;
        max-width: 60%;
    }
}
