/*------------------------------------*\
    
    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.page-footer {
    margin-top: auto; /* used to affix footer at bottom of page */
    background-color: #35498c;
    position: relative;
    padding-bottom: 50px;
}

@media(min-width: 768px) {
    .page-footer {
        padding-bottom: 0;
    }
}

.page-footer p {
    color: #fff;
    font-size: 15px;
    font: normal normal normal 15px/24px Montserrat;
    text-transform: capitalize;
}

.row-credits:after {
    background-color: transparent;
}

@media(min-width: 1025px) {
    .row-credits:after {
        content: "";
        position: absolute;
        background-color: #112878;
        width: 448px;
        height: 100%;
        right: -100px;
        top: 0;
    }
}

@media (min-width: 2056px) {
    .page-footer > .container > .row:after {
        right: 0;
        width: 800px;
    }
}


/* .page-footer > .container-fluid > .row {
    display: flex;
    flex-wrap: wrap;
} */

.page-footer > .container-fluid > .row .footer-newsletter {
    background-color: #112878;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .page-footer > .container-fluid > .row .footer-newsletter {
        width: 400px;
    }
}

@media(min-width: 1025px) {
    .page-footer > .container-fluid > .row .footer-newsletter {
        width: 100%;
    }
    .page-footer > .container-fluid > .row .col-md-4:after {
        content: unset;
        width: unset;
    } 
}

.page-footer > .container-fluid > .row .col-md-4:after {
    content: "";
    position: absolute;
    background: #112878;
    width: 181%;
    height: 100%;
    right: 0;
    left: -171px;
    top: 0;
}

.page-footer > .container-fluid > .row .col-md-4,
.page-footer > .container-fluid > .row .col-md-8.col-sm-pull-6 {
    margin: 0 auto;
}


.footer-credits {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

@media(min-width: 768px) {
    .footer-credits {
        text-align: left;
    }
}

.footer-links ul, .footer-credits ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-links ul li a, .footer-credits ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.footer-credits ul li {
    padding-right: 40px;
}

.footer-links ul {
    margin-top: 0;
}

.footer-links p {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-credits ul li {
    display: inline-block;
}

.footer-phone a, .footer-email a {
    color: #fff;
    font-weight: 400;
}

.footer-address, .address-icon{
    position: relative;
}

.address-wrapper {
    margin-left: 0;
}

@media(min-width: 768px) {
    .address-icon {
        position: absolute;
    }

    .address-wrapper {
        margin-left: 30px;
    }
}

.address-icon .icon-Location:before {
    color: #fff;
}

.footer-phone span:before, .footer-email span:before {
    margin-right: 11px;
}

.logo-footer img {
    padding-top: 62px;
}

.row-credits {
    padding-top: 0;
}

.page-footer .social-icons {
    padding-bottom: 40px;
}

.footer-newsletter {
    padding-top: 80px;
    padding-bottom: 90px;
}

.footer-newsletter p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer-newsletter h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.footer-newsletter .form-field input {
    border-radius: 12px;
    height: 48px;
    border: 0;
    padding-left: 18px;
    font-size: 15px;
    color: #112878;
    margin: 0 auto;
    display: block;
    width: 100%;
}


.footer-newsletter .form-field input::placeholder {
    color: #112878;
}


.footer-newsletter form {
    text-align: center;
}

.footer-newsletter .form-field label {
    visibility: hidden;
}


.footer-newsletter .row:nth-child(3) {
    margin-bottom: 20px;
}

.footer-newsletter .btn {
    padding: 11px 34px;
    width: 100%;
}

@media(min-width: 768px) {
    .footer-newsletter .btn {
        padding: 11px 42px;
    }
}

.footer-info {
    text-align: center;
}

@media(min-width: 768px) {
    .footer-info {
        text-align: left;
    }
}

.footer-phone a .icon-Phone, .footer-email a .icon-Email {
    display: block;
    padding-bottom: 10px;
}

@media(min-width: 768px) {
    .footer-phone a .icon-Phone,
    .footer-email a .icon-Email {
       display: inline-block;
    }
}

.footer-phone, .footer-email {
    padding-top: 15px;
}

.backtotop-d a {
    font-weight: 600;
    padding-top: 40px;
    display: block;
    color: #fff;
}

.backtotop-d .icon-Arrow-up {
    padding-right: 5px;
}

.backtotop-d ul {
    list-style-type: none;
    padding: 0;
}