/*------------------------------------*\
    Page Footer CSS
    Page footer...........The main page footer.
\*------------------------------------*/
.page-footer {
    padding-bottom: 75px;
    background-color: var(--color-blueopactiy);
}

@media(min-width:768px) {
    .page-footer {
        padding-bottom: 15px;
    }
}

@media(min-width:1025px) {
    .page-footer {
        position: relative;
        padding-bottom: 0;
        background-color: transparent;
    }

        .page-footer:after,
        .page-footer:before {
            content: "";
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: -1;
        }

        .page-footer:after {
            left: 0;
            background-color: var(--color-blueopactiy);
        }

        .page-footer:before {
            right: 0;
            background-color: var(--color-blue);
        }
}

@media(min-width:1025px) {
    .page-footer-wrapper {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/*
 * Footer Contact
 */
.footer-contact {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--color-blue);
}

@media(min-width:768px) {
    .footer-contact {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .footer-contact .container {
        max-width: 392px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(min-width:1025px) {
    .footer-contact {
        max-width: 33%;
        width: 100%;
        order: 1;
        padding-top: 85px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/*
 * Footer Labels
 */
.footer-labels {
    text-align: center;
    margin-bottom: 20px;
}

.footer-labels p,
.footer-labels h3 {
    color: var(--color-white);
}

.footer-labels p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
}

.footer-labels h3 {
    margin: 0;
}

@media(min-width:768px) {
    .footer-labels h3 {
        font-size: 18px;
    }
}

/*
 * Form Inputs
 */
.form-group {
    position: relative;
    height: 36px;
    border-radius: 12px;
    background-color: var(--color-white);
    margin-bottom: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: flex-end;
}

@media(min-width:768px) {
    .form-group {
        height: 48px;
        padding-top: 8.5px;
        padding-bottom: 8.5px;
        margin-bottom: 10px;
    }
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--color-blue);
    font-size: 13px;
    transition: all 0.25s ease-in-out;
}

@media(min-width:768px) {
    .form-group label {
        left: 27.5px;
        font-size: 15px;
    }
}

@media(min-width:1025px) {
    .form-group label {
        left: 18px;
    }
}


.form-group label.active {
    font-size: 10px;
    font-weight: 700;
    top: 5px;
    transform: translateY(0);
}

@media(min-width:768px) {
    .form-group label.active {
        top: 8.5px;
    }
}

.form-group input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 13px;
    padding: 0 22px;
}

@media(min-width:768px) {
    .form-group input {
        font-size: 15px;
        padding: 0 27.5px;
    }
}

@media(min-width:1025px) {
    .form-group input {
        padding: 0 18px;
    }
}

/*
 * Form Submit
 */
.footer-form button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 13px;
}

@media(min-width:768px) {
    .footer-form button {
        font-size: 15px;
    }
}

/*
 * Footer Links
 */
.footer-links {
    padding-top: 50px;
}

@media(min-width:768px) {
    .footer-links {
        padding-top: 70px;
    }

    .footer-links-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media(min-width:1025px) {
    .footer-links {
        max-width: 73%;
        width: 100%;
        padding-top: 62px;
        position: relative;
    }

        .footer-links:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-white);
            z-index: 1;
        }

        .footer-links:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-blueopactiy);
            z-index: 2;
        }

    .footer-links > div {
        position: relative;
        z-index: 3;
    }

    .footer-links-wrapper {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
}

/*
 * Footer Top
 */
@media(min-width:768px) {
    .footer-top {
        width: 55%;
    }
}

/*
 * Footer Logo
 */
.footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media(min-width:768px) {
    .footer-logo {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.footer-logo a {
    display: inline-block;
}

.footer-logo .footer-logo-first {
    max-width: 198px;
    margin-bottom: 20px;
}

@media(min-width:768px) {
    .footer-logo .footer-logo-first {
        margin-bottom: 0;
    }
}

@media(min-width:1025px) {
    .footer-logo .footer-logo-first {
        max-width: 242px;
        margin-bottom: 10px;
    }
}

.footer-logo .footer-logo-second {
    max-width: 145px;
}

@media(min-width:768px) {
    .footer-logo .footer-logo-second {
        display: none;
    }
}

/*
 * Footer Social
 */
.footer-social {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media(min-width:768px) {
    .footer-social {
        margin-top: 15px;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
    }
}

@media(min-width:1025px) {
    .footer-social {
        margin-top: 0;
    }
}

.footer-social a {
    color: var(--color-white);
    font-size: 22px;
    margin-right: 18px;
}

@media(min-width:1025px) {
    .footer-social a:hover {
        color: var(--color-green);
        font-weight: 400;
    }
}

    .footer-social a:last-child {
        margin-right: 0;
    }

/*
 * Footer Details
 */
.footer-details {
    margin-top: 40px;
}

@media(min-width:768px) {
    .footer-details {
        margin-top: 43px;
    }
}

@media(min-width:1025px) {
    .footer-details {
        margin-top: 46px;
        margin-right: 10px;
    }
}

.footer-details ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
}

@media(min-width:768px) {
    .footer-details ul {
        text-align: left;
    }
}

.footer-details li {
    margin-bottom: 16px;
}

@media(min-width:768px) {
    .footer-details li {
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .footer-details li span {
        margin-right: 20px;
    }
}

@media(min-width:1025px) {
    .footer-details li {
        margin-bottom: 15px;
        -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
                align-items: flex-start;
    }

    .footer-details li span {
        line-height: 1.83em;
    }
}

    .footer-details li:before {
        display: none;
    }

    .footer-details li:last-child {
        margin-bottom: 0;
    }

.footer-details span {
    font-size: 15px;
    color: var(--color-white);
}

.footer-details p {
    margin-top: 11px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.84em;
    color: var(--color-white);
}

.footer-details a {
    display: block;
    margin-top: 11px;
    font-size: 15px;
    line-height: 1.84em;
    color: var(--color-white);
}

.footer-details a:hover {
    font-weight: 400;
}

@media(min-width:768px) {
    .footer-details p,
    .footer-details a {
        margin-top: 0;
    }
}

@media(min-width:1025px) {
    .footer-details a:hover {
        color: var(--color-green);
    }
}

/*
 * Footer Middle
 */
.footer-mid {
    margin-top: 11px;
}

@media(min-width:768px) {
    .footer-mid {
        width: 45%;
        margin-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

/*
 * Footer Middle Item 01 & Item 02
 */
@media(min-width:768px) {
    .footer-mid-item {
        max-width: 48%;
        width: 100%;
    }
}

.footer-mid .item-01 {
    margin-bottom: 40px;
}

@media(min-width:768px) {
    .footer-mid .item-01 {
        margin-bottom: 0;
    }
}

@media(min-width:1025px) {
    .footer-mid .item-01 {
        max-width: 40%;
    }
}

.footer-mid .item-02 {
    margin-bottom: 30px;
    text-align: center;
}

@media(min-width:768px) {
    .footer-mid .item-02 {
        text-align: left;
        margin-bottom: 0;
    }
}

@media(min-width:1025px) {
    .footer-mid .item-02 {
        max-width: 50%;
    }
}

.footer-mid .item-01 ul,
.footer-mid .item-02 ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}

@media(min-width:768px) {
    .footer-mid .item-01 ul,
    .footer-mid .item-02 ul {
        text-align: left;
    }
}

.footer-mid .item-01 li:before,
.footer-mid .item-02 li:before {
    display: none;
}

.footer-mid .item-01 li,
.footer-mid .item-02 li {
    margin-bottom: 8px;
}

@media(min-width:1025px) {
    .footer-mid .item-01 li,
    .footer-mid .item-02 li {
        margin-bottom: 6px;
    }
}

    .footer-mid .item-01 li:first-child,
    .footer-mid .item-02 li:first-child {
        margin-bottom: 11px;
    }

    @media(min-width:1025px) {
        .footer-mid .item-01 li:first-child,
        .footer-mid .item-02 li:first-child {
            margin-bottom: 5px;
        }
    }

    @media(min-width:1025px) {
        .footer-mid .item-01 li:last-child,
        .footer-mid .item-02 li:last-child {
            margin-bottom: 0;
        }
    }

.footer-mid .item-01 li a,
.footer-mid .item-02 li a {
    color: var(--color-white);
    font-size: 15px;
    line-height: 1.6em;
}

    @media(min-width:1025px) {
        .footer-mid .item-01 li a:hover,
        .footer-mid .item-02 li a:hover {
            color: var(--color-green);
            font-weight: 400;
        }
    }

    .footer-mid .item-01 li:first-child a,
    .footer-mid .item-02 li:first-child a {
        font-weight: 700;
    }

    @media(min-width:1025px) {
        .footer-mid .item-01 li:first-child a:hover,
        .footer-mid .item-02 li:first-child a:hover {
            color: var(--color-white);
        }
    }

.footer-mid .item-02 > a {
    margin: 40px auto 0;
    display: inline-block;
    color: var(--color-white);
    font-size: 12px;
    font-weight: 700;
}

@media(min-width:768px) {
    .footer-mid .item-02 > a {
        margin: 70px auto 0;
    }
}

@media(min-width:1025px) {
    .footer-mid .item-02 > a {
        display: none;
    }
}

.footer-mid .item-02 > a span {
    margin-right: 8px;
}

/*
 * Footer Bottom
 */

@media(min-width:1025px) {
    .footer-bot {
        padding-bottom: 17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end
    }
}

.footer-bot ul {
    max-width: 274px;
    margin: 0 auto;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

@media(min-width:768px) {
    .footer-bot ul {
        max-width: 634px;
        width: 100%;
        margin-top: 100px;
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}

@media(min-width:1025px) {
    .footer-bot ul {
        margin: 0;
        margin-top: 60px;
    }
}

.footer-bot ul li {
    font-size: 12px;
    color: var(--color-white);
    margin-right: 30px;
}

@media(min-width:768px) {
    .footer-bot ul li {
        margin-right: 0;
        margin-bottom: 0;
        line-height: 1.6em;
    }
}

    .footer-bot ul li:before {
        display: none;
    }

    .footer-bot ul li:nth-child(3),
    .footer-bot ul li:last-child {
        margin-right: 0;
    }

.footer-bot ul li a {
    font-size: 12px;
    color: var(--color-white);
}

    @media(min-width:1025px) {
        .footer-bot ul li a:hover {
            font-weight: 400;
            color: var(--color-green);
        }
    }

.footer-bot > a {
    display: none;
}

@media(min-width:1025px) {
    .footer-bot > a {
        display: block;
        margin-left: 60px;
        color: var(--color-white);
        font-size: 12px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

        .footer-bot > a:hover,
        .footer-bot > a:hover span {
            color: var(--color-green);
        }

    .footer-bot > a span {
        margin-right: 11px;
        color: var(--color-white);
        font-size: 13px;
    }
}
