/* Global CSS */
/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythem setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */
/*------------------------------------*\
    BASE
\*------------------------------------*/
/**
 * Global Variables (Optional - Remove anything that's not being used)
 */
:root {
    --color-blue: #112878;
    --color-blueopactiy: rgba(17, 40, 120, 0.85);
    --color-lightblue: #6C9EDC;
    --color-lightblueopacity: rgba(108, 158, 220, 0.8);
    --color-skyblue: rgba(108, 158, 220, 0.12);
    --color-white: #fff;
    --color-whiteblue: #F8FAFF;
    --color-green: #7ECB53;
    --color-greenopacity: rgba(120, 214, 75, 0.8);
    --color-greencta: rgba(245, 251, 242);
    --color-pink: #DB568B;
    --color-pinkopacity: rgba(219, 86, 139, 0.8);
    --color-orangeopacity: rgba(219, 166, 86, 0.8);
}

/**
 * Document
 */
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    /* used to affix footer to bottom of page */
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */
.wp-caption.alignright,
.wp-caption.alignleft,
.wp-caption.alignnone,
.wp-caption.aligncenter {
    margin: 0;
    width: auto !important;
    /* to overwrite inline widths */
}

img.alignright,
.wp-caption.alignright img,
img.alignleft,
.wp-caption.alignleft img {
    height: auto;
    max-width: 50%;
}

img.alignnone,
.wp-caption.alignnone img,
img.aligncenter,
.wp-caption.aligncenter img {
    height: auto;
    max-width: 100%;
}

img.alignnone,
.wp-caption.alignnone,
img.aligncenter,
.wp-caption.aligncenter {
    margin: 0 0 22px 0;
}

img.alignright,
.wp-caption.alignright {
    float: right;
    margin: 0 0 22px 30px;
}

img.alignleft,
.wp-caption.alignleft {
    float: left;
    margin: 0 30px 22px 0;
}

img.aligncenter,
.wp-caption.aligncenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe,
img {
    max-width: 100%;
}

/* Fade-in for lazyloaded images */
.will-lazyload {
    opacity: 0;
    transition: opacity .25 linear;
}

.will-lazyload.lazyloaded {
    opacity: 1;
}

/**
  * Typography
  */

/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: 'Montserrat', sans-serif;
    color: #112878;
    font-weight: 700;
}

h1, .h1 {
    font-size: 26px;
    line-height: 1.231em;
    margin-top: 0;
}

h2, .h2 {
    font-size: 22px;
    line-height: 1.091em;
}

h5+h2 {
    margin-top: 0;
}

h3, .h3 {
    font-size: 18px;
    line-height: 1.333em
}

h4, .h4 {
    font-size: 16px;
    line-height: 1.500em
}

h5, .h5 {
    font-size: 16px;
    line-height: 1.500em;
    color: #6C9EDC;
    margin: 0;
}

@media (min-width: 768px) {
    h1, .h1 {
        font-size: 48px;
        line-height: 1.250em
    }

    h2, .h2 {
        font-size: 36px;
        line-height: 1.222em;
    }

    h3, .h3 {
        font-size: 28px;
        line-height: 1.143em
    }

    h4, .h4 {
        font-size: 22px;
        line-height: 1.273em;
    }

    h5, .h5 {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    h1, .h1 {
        font-size: 48px;
    }
}

p, ul, ol {
    font-family: 'Montserrat', sans-serif;
    color: #131313;
}

p {
    font-size: 14px;
    line-height: 1.429em
}

@media (min-width: 600px) {
    p {
        font-size: 16px;
        line-height: 1.5em;
    }
}

blockquote {
    text-align: center;
    border-top: 3px solid #86C157;
    margin: 24px 16px;
}

@media(min-width:768px) {
    blockquote {
        border-top: none;
        border-left: 3px solid #86C157;
        padding-left: 16px;
        margin-left: 32px;
        margin-right: 0;
        text-align: left;
    }
}

@media(min-width:1025px) {
    blockquote {
        margin-left: 80px;
    }
}

.page-content ul,
.page-content ol {
    /* fix for bulleted lists not wrapping around images correctly in Wordpress */
    width: auto;
    overflow: hidden;
}

ul {
    margin-top: 12px;
    margin-bottom: 24px;
}

ul li {
    /* set up bullets as a :before or icon element, not as a background image */
    list-style: none;
    position: relative;
    margin-bottom: 8px;
}

ul li:before {
    content: "\e904";
    display: block;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #112878;
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: -22px;
}

hr {}

a {
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    /* force link text to overflow when too long for container */
    color: #6C9EDC;
    font-weight: 400;
    line-height: 1.6em;
    text-decoration: none;
    transition: all .2s;
}

@media(min-width:1025px) {
    a:hover {
        font-weight: 700;
    }
}

@media(min-width:1025px) {
    ul {
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
/**
  * Wrappers
  */
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    /* TODO: Default grid. Update if different in prototypes. */
    padding-right: 22px;
}

.container {
    max-width: 1200px;
}

.container-fluid {
    max-width: 1366px;
}

/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */
.row {
    margin-left: -16px;
    /* TODO: Default grid. Update if different in prototypes. */
    margin-right: -16px;
}

[class*="col-"] {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    /* TODO: Default grid. Update if different in prototypes. */
    padding-right: 16px;
}

/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] {
    float: left;
}

.col-xxs-12 {
    width: 100%;
}

.col-xxs-11 {
    width: 91.66666667%;
}

.col-xxs-10 {
    width: 83.33333333%;
}

.col-xxs-9 {
    width: 75%;
}

.col-xxs-8 {
    width: 66.66666667%;
}

.col-xxs-7 {
    width: 58.33333333%;
}

.col-xxs-6 {
    width: 50%;
}

.col-xxs-5 {
    width: 41.66666667%;
}

.col-xxs-4 {
    width: 33.33333333%;
}

.col-xxs-3 {
    width: 25%;
}

.col-xxs-2 {
    width: 16.66666667%;
}

.col-xxs-1 {
    width: 8.33333333%;
}

.col-xxs-pull-12 {
    right: 100%;
}

.col-xxs-pull-11 {
    right: 91.66666667%;
}

.col-xxs-pull-10 {
    right: 83.33333333%;
}

.col-xxs-pull-9 {
    right: 75%;
}

.col-xxs-pull-8 {
    right: 66.66666667%;
}

.col-xxs-pull-7 {
    right: 58.33333333%;
}

.col-xxs-pull-6 {
    right: 50%;
}

.col-xxs-pull-5 {
    right: 41.66666667%;
}

.col-xxs-pull-4 {
    right: 33.33333333%;
}

.col-xxs-pull-3 {
    right: 25%;
}

.col-xxs-pull-2 {
    right: 16.66666667%;
}

.col-xxs-pull-1 {
    right: 8.33333333%;
}

.col-xxs-pull-0 {
    right: auto;
}

.col-xxs-push-12 {
    left: 100%;
}

.col-xxs-push-11 {
    left: 91.66666667%;
}

.col-xxs-push-10 {
    left: 83.33333333%;
}

.col-xxs-push-9 {
    left: 75%;
}

.col-xxs-push-8 {
    left: 66.66666667%;
}

.col-xxs-push-7 {
    left: 58.33333333%;
}

.col-xxs-push-6 {
    left: 50%;
}

.col-xxs-push-5 {
    left: 41.66666667%;
}

.col-xxs-push-4 {
    left: 33.33333333%;
}

.col-xxs-push-3 {
    left: 25%;
}

.col-xxs-push-2 {
    left: 16.66666667%;
}

.col-xxs-push-1 {
    left: 8.33333333%;
}

.col-xxs-push-0 {
    left: auto;
}

.col-xxs-offset-12 {
    margin-left: 100%;
}

.col-xxs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xxs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xxs-offset-9 {
    margin-left: 75%;
}

.col-xxs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xxs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xxs-offset-6 {
    margin-left: 50%;
}

.col-xxs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xxs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xxs-offset-3 {
    margin-left: 25%;
}

.col-xxs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xxs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xxs-offset-0 {
    margin-left: 0;
}

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {
        float: left;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666667%;
    }

    .col-xs-10 {
        width: 83.33333333%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666667%;
    }

    .col-xs-7 {
        width: 58.33333333%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666667%;
    }

    .col-xs-4 {
        width: 33.33333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.66666667%;
    }

    .col-xs-1 {
        width: 8.33333333%;
    }

    .col-xs-pull-12 {
        right: 100%;
    }

    .col-xs-pull-11 {
        right: 91.66666667%;
    }

    .col-xs-pull-10 {
        right: 83.33333333%;
    }

    .col-xs-pull-9 {
        right: 75%;
    }

    .col-xs-pull-8 {
        right: 66.66666667%;
    }

    .col-xs-pull-7 {
        right: 58.33333333%;
    }

    .col-xs-pull-6 {
        right: 50%;
    }

    .col-xs-pull-5 {
        right: 41.66666667%;
    }

    .col-xs-pull-4 {
        right: 33.33333333%;
    }

    .col-xs-pull-3 {
        right: 25%;
    }

    .col-xs-pull-2 {
        right: 16.66666667%;
    }

    .col-xs-pull-1 {
        right: 8.33333333%;
    }

    .col-xs-pull-0 {
        right: auto;
    }

    .col-xs-push-12 {
        left: 100%;
    }

    .col-xs-push-11 {
        left: 91.66666667%;
    }

    .col-xs-push-10 {
        left: 83.33333333%;
    }

    .col-xs-push-9 {
        left: 75%;
    }

    .col-xs-push-8 {
        left: 66.66666667%;
    }

    .col-xs-push-7 {
        left: 58.33333333%;
    }

    .col-xs-push-6 {
        left: 50%;
    }

    .col-xs-push-5 {
        left: 41.66666667%;
    }

    .col-xs-push-4 {
        left: 33.33333333%;
    }

    .col-xs-push-3 {
        left: 25%;
    }

    .col-xs-push-2 {
        left: 16.66666667%;
    }

    .col-xs-push-1 {
        left: 8.33333333%;
    }

    .col-xs-push-0 {
        left: auto;
    }

    .col-xs-offset-12 {
        margin-left: 100%;
    }

    .col-xs-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xs-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xs-offset-9 {
        margin-left: 75%;
    }

    .col-xs-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xs-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xs-offset-6 {
        margin-left: 50%;
    }

    .col-xs-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xs-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xs-offset-3 {
        margin-left: 25%;
    }

    .col-xs-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xs-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xs-offset-0 {
        margin-left: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

/**

* Clearfix

* Apply clearing without adding additional markup

*/
.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.

     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/
/**
 * Buttons
 */
.btn {
    border-radius: 90px;
    border: 2px solid transparent;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    position: relative;
    line-height: 1.55em;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    vertical-align: middle;
}

.btn-primary {
    background-color: #7ECB53;
    color: #112878;
}

@media (min-width: 1025px) {
    .btn-primary:hover {
        color: var(--color-green);
        background-color: transparent;
        border-color: var(--color-green);
    }
}

.btn-hand {
    padding: 13px 26px;
    padding-left: 16px;
}

.btn-hand:before {
    display: inline-block;
    content: "\e90e";
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 16px;
}

.btn-secondary {
    background: transparent;
    border-color: #112878;
    color: #112878;
}

@media (min-width: 1025px) {
    .btn-secondary:hover {
        background: #fff;
        color: #6C9EDC;
        border-color: #6C9EDC;
        filter: none;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

/**
 * Text Link
 */
.text-link {
    color: var(--color-green);
    font-weight: 700;
    font-size: 14px;
}

.text-link .icon-left,
.text-link .icon-arrow-left {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
}

.text-link .icon-hand {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .text-link {
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .text-link {
        font-size: 16px;
    }

    .text-link:hover {
        color: var(--color-lightblue);
        font-weight: 700;
    }
}

/**
 * Icons
 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?ckct9h');
    src: url('../fonts/icomoon.eot?ckct9h#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ckct9h') format('truetype'),
        url('../fonts/icomoon.woff?ckct9h') format('woff'),
        url('../fonts/icomoon.svg?ckct9h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}

.icon-arrow-up:before {
    content: "\e901";
}

.icon-Clock:before {
    content: "\e902";
}

.icon-close:before {
    content: "\e903";
}

.icon-Diamond-bullet:before {
    content: "\e904";
}

.icon-drop-left:before {
    content: "\e905";
}

.icon-Drop-right:before {
    content: "\e906";
}

.icon-dropdown-active:before {
    content: "\e907";
}

.icon-dropdown:before {
    content: "\e908";
}

.icon-email:before {
    content: "\e909";
}

.icon-Error:before {
    content: "\e90a";
}

.icon-Eye:before {
    content: "\e90b";
}

.icon-facebook:before {
    content: "\e90c";
}

.icon-Forward:before {
    content: "\e90d";
}

.icon-hand:before {
    content: "\e90e";
}

.icon-instagram:before {
    content: "\e90f";
}

.icon-left:before {
    content: "\e910";
}

.icon-linkedin:before {
    content: "\e911";
}

.icon-location:before {
    content: "\e912";
}

.icon-menu:before {
    content: "\e913";
}

.icon-minus:before {
    content: "\e914";
}

.icon-mobile:before {
    content: "\e915";
}

.icon-phone:before {
    content: "\e916";
}

.icon-pinterest:before {
    content: "\e917";
}

.icon-play:before {
    content: "\e918";
}

.icon-Plus-1:before {
    content: "\e919";
}

.icon-plus:before {
    content: "\e91a";
}

.icon-right:before {
    content: "\e91b";
}

.icon-search:before {
    content: "\e91c";
}

.icon-twitter:before {
    content: "\e91d";
}

/**
 * Forms
 */
label {}

select {}

textarea {}

/* Removes default webkit form styling */
input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
    -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    /* Removes blue border on focus */
    border: 1px solid #ccc;
    /* TODO: Please add a branded border for focus */
}

/* default text input style */
[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {}

/* Removes inconsistent padding from Firefox buttons */
button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

/* Hide reCaptcha badge */
.grecaptcha-badge {
    visibility: hidden;
}

/**

 * Pagination

 */
.wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {
    .wp-pagenavi {
        margin-top: 70px;
    }
}

/**
 * Sticky Sidebar
 */
@media(min-width: 1025px) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px;
        /* TODO: update to match how far down page when sidebar should stick */
    }
}
