/*------------------------------------*\
    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
\*------------------------------------*/

/**
 * Page-head
 */
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 0;
    z-index: 999999;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

@media(min-width: 768px) {
    .page-header {
        position: relative;
    }
}

.main-header {
    padding: 6px 0;
    background-color: #fff;
}

@media(min-width: 1025px) {
    .main-header {
        background-color: transparent;
    }
}

.main-header .container {
    position: relative;
}

.logo {
    width: 100%;
    float: none;
}

.logo>a {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    vertical-align: middle;
}

.logo img {
    width: 100%;
}

.logo-non-fixed {
    opacity: 1;
    text-align: center;
    display: block;
}

@media(min-width: 768px) {
    .logo-non-fixed {
        display: flex;
        align-items: center;
        grid-gap: 40px;
    }
}

@media (min-width: 1025px) {
    .logo-non-fixed {
        display: block;
    }
}

.logo-fixed {
    position: absolute;
    opacity: 1;
    left: 14px;
    top: 4px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.header-control {
    float: right;
    padding: 6px 0;
}

.search-box {
    position: relative;
    margin-right: 15px;
}

.search {
    width: 35px;
    height: 35px;
    border: 1.5px solid transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 7px 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.search:hover {
    color: #7ECB53;
}

.search.search-open,
.search-desktop button {
    color: #7ECB53;
}

.search.search-open .icon-Search:before {
    content: "\e903";
    font-size: 11px;
    line-height: 3;
}

.social-icons a {
    color: #fff;
}

.social-icons a:hover {
    color: #7ECB53;
}

.page-header.js-scrolled .social-icons a,
.page-header.js-scrolled .nav-primary>ul>li>a {
    color: #112878;
}

.header-control-fixed {
    width: 100%;
    height: 50px;
    background: #f0f5fc;
    color: #fff;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.header-control-fixed a {
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    padding: 7px 13px;
    white-space: nowrap;
}

.header-control-fixed a span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.donate-action a {
    color: #112878;
    position: relative;
    font-weight: 700;
    z-index: 1;
    font-size: 14px;
}

.donate-action {
    width: 33.33%;
    text-align: center;
}

.donate-action:after {
    content: "";
    position: absolute;
    background-color: #7ecb53;
    width: 33.33%;
    height: 100%;
    left: 0;
    top: 0;
}

.callus-action a span:before {
    font-size: 28px;
    color: #112878;
}

.mobile-header-action {
    background: #234177;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.action-button {
    width: 50%;
    text-align: center;
    padding: 13px 10px;
}

.action-button a {
    color: #fff;
}

.action-button span {
    margin: 10px;
    vertical-align: middle;
}

.schedule-action {
    border-right: 2px solid #445D8B;
}

.contact-action {
    background: #4DAB48;
}

.messageus-action {
    width: 11%;
    text-align: center;
}

.menu-toggle {
    width: 51%;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #112878;
    font-size: 12px;
    font-weight: 500;
}

.menu-toggle i {
    font-size: 27px;
    margin-right: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu-toggle.close i {
    font-size: 18px;
}

.menu-toggle.close .icon-menu-bar:before {
    content: "\e91b";
    font-size: 15px;
}

.nav-primary {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    display: none;
    z-index: 9999;
}

.nav-primary ul {
    padding: 0;
    margin: 0;
}

.nav-primary li {
    padding: 0;
    margin: 0;
}

.nav-primary li:after {
    display: none;
}

.nav-primary>ul>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: left;
    padding: 11px 55px 11px 22px;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
}

.nav-primary>ul>li>a:hover,
.nav-primary>ul>li.active>a {
    color: #7ECB53
}

.nav-primary ul.sub-menu {
    display: none;
    background: #7ECB53;
}

.nav-primary>ul>li>ul.sub-menu li a {
    width: 100%;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    display: block;
    text-align: left;
    padding: 11px 55px 11px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-primary>ul>li>ul.sub-menu li ul.sub-menu li a {
    background: #7ECB53;
    color: #fff;
    padding: 6px 55px 6px 48px;
}

.sub-menu-toggle {
    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 23px;
    z-index: 9999;
    cursor: pointer;
    color: #7ECB53;
}

.nav-primary>ul>li>ul.sub-menu li .sub-menu-toggle {
    color: #ffffff;
}

.sub-menu-toggle.js-toggled:before {
    content: "\e901";
}

.search-div {
    position: fixed;
    background: rgb(73, 73, 65, 50%);
    width: 100%;
    padding: 16px 22px;
    display: none;
    height: 100vh;
    transition: all .4s ease-in-out;
}

.search-div.search-div-scroll {
    top: 0;
}

.search-main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 4px;
    overflow: hidden;
}

.search-div input {
    height: 40px;
    font-size: 16px;
    padding: 0 16px 3px 32px;
    border-radius: 99px;
    font-weight: 500;
    width: 100%;
}

.search-div input::placeholder {
    text-transform: uppercase;
    color: rgb(73, 73, 65, 44%);
}

.search-div button {
    border: none;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
    width: auto;
    text-align: center;
    height: 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    outline: none;
    background: transparent;
}

.button-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    flex-direction: row;
}

.donation-action {
    order: 3;
}

.call-action {
    order: 2;
}

.button-actions .search {
    order: 1;
}

@media (min-width: 768px) {
    .donation-action {
        order: 2;
    }

    .call-action {
        order: 1;
    }

    .button-actions .search {
        order: 3;
    }
}

.button-actions .btn {
    padding: 5px 15px;
    margin-right: 5px;
}

.search {
    color: #112878;
}

@media (max-width: 575px) {
    .header-control-fixed a span {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .header-control-fixed a {
        font-size: 16px;
        padding: 7px 20px;
    }

    .header-control-fixed a span {
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .main-header {
        padding: 10px 0;
    }

    .logo {
        padding: 1px 0;
        width: 200px;
        float: left;
    }

    .search {
        background: transparent;
        border-radius: 50%;
        font-size: 15px;
        padding: 0px;
    }

    .search:hover {}

    .search.search-open .icon-search:before {}

    .nav-primary {
        position: absolute;
        top: 100%;
        height: calc(100vh - 82px);
        border-top: 1px solid #F5F1EC;
    }

    .header-control {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu-toggle {
        width: 44px;
        color: #112878;
        display: unset;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }

    .menu-toggle i {
        font-size: 18px;
        height: auto;
    }

    .menu-toggle.close i {
        font-size: 14px;
        height: 20px;
    }

    .menu-toggle.close i:before {
        content: "\e91b";
    }

    .header-control .btn-primary {
        padding: 10px 20px;
    }

    .search {
        width: 40px;
        height: 40px;
        font-size: 21px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .main-header-right {
        float: right;
        padding: 0 0 0;
    }
}

@media (min-width: 1025px) {
    .logo-second {
        margin-top: 15px;
    }

    .page-header.js-scrolled {
        background: #fff;
        position: fixed;
        box-shadow: 0 0 15px rgb(0, 0, 0, 6%);
    }

    .page-header.js-scrolled .logo-fixed {
        opacity: 0;
    }

    .page-header.js-scrolled .logo-non-fixed {
        opacity: 1;
    }

    .main-header-right {
        color: #fff;
        padding: 8px 0 16px;
    }

    .button-actions {
        padding-left: 30px;
        display: block;
    }

    .button-actions .btn {
        padding: 11px 51px;
    }

    .button-actions .btn-primary {
        background: #fff;
    }

    .button-actions .btn-primary:hover {
        background: transparent;
        border-color: #fff;
        color: #fff;
    }

    .button-actions .btn-secondary {
        border-color: #fff;
        color: #fff;
    }

    .button-actions .btn-secondary:hover {
        background: #fff;
        color: #112878;
    }

    .page-header.js-scrolled .btn-primary {
        background: #7ECB53;
        color: #162369;
    }

    .page-header.js-scrolled .btn-primary:hover {
        background: transparent;
        border-color: #7ECB53;
    }

    .page-header.js-scrolled .btn-secondary {
        border-color: #112878;
        color: #112878;
    }

    .page-header.js-scrolled .btn-secondary:hover {
        border-color: #7ECB53;
        background: #7ECB53;
        color: #112878;
    }

    .social-icons span {
        margin: 3px;
        font-size: 18px;
        vertical-align: middle;
    }

    .search {
        font-size: 17px;
        margin-right: 35px;
        margin-left: 0px;
    }

    .page-header.js-scrolled .icon-Search {
        color: #112878;
    }

    .top-header-box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .nav-secondary>ul {
        padding: 0;
        margin: 0;
    }

    .nav-secondary li {
        padding: 0;
        margin: 0;
        float: left;
        margin-right: 35px;
    }

    .nav-secondary li span {
        margin-right: 6px;
    }

    .nav-secondary li:after {
        display: none;
    }

    .nav-secondary>ul>li>a {
        width: 100%;
        color: #5377B7;
        display: block;
        text-align: left;
        padding: 0;
        text-decoration: none;
    }

    .nav-secondary>ul>li>a:hover,
    .nav-secondary>ul>li.active>a {
        color: #4DAB48;
    }

    .sub-menu-toggle {
        display: none;
    }

    .nav-primary li:hover>.sub-menu {
        display: block;
    }

    .nav-primary .sub-menu {
        background: transparent;
        position: absolute;
        max-width: 250px;
        /* adjust to match width of submenu prototype */
    }

    .nav-primary ul.sub-menu {
        position: absolute;
        top: 44px;
        left: -12px;
        width: 238px;
        background: #ffffff;
        box-shadow: 0 0 15px rgb(0 0 0 / 10%);
        border-radius: 10px;
        padding: 15px 0 15px 10px;
    }

    .nav-primary .sub-menu .sub-menu {
        left: 100%;
    }

    .nav-primary>ul>li>ul.sub-menu li a {
        color: #ffffff;
    }

    .nav-primary ul.sub-menu ul.sub-menu {
        left: 220px;
        top: -15px;
        padding: 15px 0 15px 10px;
        border-top-left-radius: 0;
    }

    .nav-primary>ul>li>ul.sub-menu li {
        margin: 0;
        float: none;
        width: 100%;
    }

    .nav-primary>ul>li>ul.sub-menu li {
        padding-right: 18px;
    }

    .nav-primary>ul>li>ul.sub-menu li a {
        color: #234177;
        border-radius: 10px;
        padding: 8px 2px 8px 14px;
        letter-spacing: .60px;
        width: 100%;
    }

    .nav-primary>ul>li>ul.sub-menu li a:hover,
    .nav-primary ul li ul.sub-menu li.menu-item-has-children:hover>a {
        background: #4DAB48;
        color: #ffffff;
    }

    .nav-primary>ul>li>ul.sub-menu li ul.sub-menu li a {
        background: transparent;
        color: #234177;
        border-radius: 10px;
        padding: 8px 2px 8px 14px;
        letter-spacing: .60px;
        width: 100%;
    }

    .nav-primary>ul>li>ul.sub-menu li ul.sub-menu li a:hover {
        background: #4DAB48;
        color: #ffffff;
    }

    .nav-primary>ul>li>ul.sub-menu:after {
        content: "";
        width: 30px;
        height: 30px;
        background: #ffffff;
        position: absolute;
        top: -8px;
        left: 36px;
        box-shadow: 0 0 15px rgb(0 0 0 / 10%);
        transform: rotate(45deg);
        z-index: -99999999;
    }

    .nav-primary>ul>li>ul.sub-menu {
        display: none;
    }

    .nav-primary>ul>li>ul.sub-menu li ul.sub-menu {
        display: none;
    }

    .nav-primary ul li:hover ul.sub-menu {
        display: block;
    }

    .nav-primary ul li ul.sub-menu li:hover .sub-menu {
        display: block;
    }

    .nav-primary>ul>li:hover>a {
        color: #4DAB48;
    }

    .search-div {
        display: none !important;
    }

    .search {
        width: 32px;
        height: 32px;
        margin-right: 14px;
        z-index: 999;
        top: 2px;
    }

    .search.search-open {
        border-color: transparent;
    }

    .search-desktop {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        border: 1.5px solid transparent;
        height: 32px;
        border-radius: 90px;
        overflow: hidden;
        transition: all .6s ease-in-out;
    }

    .search-desktop.search-desktop-open {
        width: 300px;
    }

    .search-desktop input {
        width: 100%;
        height: 100%;
        padding: 3px 36px 3px 36px;
        border: none;
        font-size: 15px;
        color: rgba(73, 73, 65, 0.5);
        letter-spacing: 0.60px;
        line-height: 0;
    }

    .search-desktop button {
        border: none;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 10px;
        width: auto;
        text-align: center;
        height: 100%;
        cursor: pointer;
        transition: all .4s ease-in-out;
        outline: none;
        background: transparent;
    }

    .main-header {
        padding: 20px 0px 0px;
    }

    .logo {
        width: 280px;
        padding: 16px 0;
    }

    .header-contact {
        display: inline-block;
        vertical-align: middle;
    }

    .header-contact .btn-primary {
        padding: 12px 22px;
    }

    .nav-primary {
        display: inline-block;
        vertical-align: middle;
        height: unset;
        overflow: unset;
        border: none;
        width: auto;
        position: relative;
        top: unset;
        left: unset;
        background: transparent;
    }

    .nav-primary li {
        float: left;
        margin-right: 20px;
    }

    .nav-primary li:last-child {
        margin: 0px;
    }

    .nav-primary>ul>li>a {
        padding: 0;
        border: none;
    }

    .header-bottom {
        margin-top: 12px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 525px;
        padding: 25px 0 0;
    }

    .logo-second {
        margin-top: 0px;
        margin-left: 20px;
    }

    .nav-primary li {
        margin-right: 10px;
    }

    .nav-primary>ul>li.menu-item-has-children>a:after {
        content: "\e908";
        color: #BCC4D5;
        font-family: 'icomoon';
        font-size: 13px;
        margin-left: 5px;
        top: -1px;
        position: relative;
    }
}

@media (min-width: 1366px) {
    .logo-second {
        margin-left: 45px;
    }

    .nav-primary>ul>li>a {
        font-size: 16px;
        padding: 0 0 25px;
    }

    .page-header.js-scrolled .nav-primary>ul>li>a {
        padding: 0 0 20px;
    }

    .nav-primary li {
        margin-right: 20px;
    }

    .main-header-right {
        padding: 8px 0 0;
    }

    .nav-primary {
        float: left;
        margin-top: 10px;
    }
}

/*header*/
@media(min-width: 1025px) {
    .page-header--sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

/* Fix sticky header position for when admin bar visible

   TODO: Uncomment if design has sticky header */
/* .admin-bar .page-header {

    top: 32px;

}



@media screen and (max-width: 782px) {

    .admin-bar .page-header {

        top: 46px;

    }

} */
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 1024px) {
    /* TODO: Add Retina-specific logo here - see instructions https://webpagefx.mangoapps.com/mlink/wiki/NjA3Nzg */
}

/**

 * Navigation

 */
/* General Styling */
.nav-primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-primary li {
    cursor: pointer;
    position: relative;
}

.nav-primary li:before,
.nav-primary li:after {
    display: none;
    /* hide any custom bullet styling */
}

.nav-primary a {
    display: block;
    text-decoration: none;
}

/* 1st Level */
.nav-primary>.menu>li {
    display: inline-block;
}

/* Sub Menus */
.nav-primary .sub-menu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
}

.nav-primary .sub-menu li {
    display: block;
}

/* 3rd Level Sub Menus */
.nav-primary .sub-menu .sub-menu {
    top: 0;
    left: 0;
}

/*
 * Masthead
 */
.masthead {
    background: #EFF5FC;
    padding-top: 26px;
    padding-bottom: 16px;
}

.masthead--content h1 {
    margin: 0;
    line-height: 1em;
}

.breadcrumbs ::marker {
    display: none;
    content: '';
}

.breadcrumbs {
    font-size: 14px;
    color: #6C9EDC;
    font-weight: 700;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs a {
    color: #112878;
    font-weight: 700;
}

.breadcrumbs .icon {
    color: #112878;
    font-size: 7px;
    margin: 0 8px;
}

@media(min-width:768px) {
    .masthead {
        padding-top: 43px;
        padding-bottom: 43px;
    }

    .masthead .flex-wrap {
        display: flex;
        align-items: center;
    }

    .masthead img {
        width: 55px;
        height: auto;
        margin-right: 24px;
    }

    .breadcrumbs,
    .breadcrumbs a {
        font-size: 18px;
    }

    .breadcrumbs .icon {
        font-size: 10px;
        margin: 0 16px;
    }
}

@media(min-width:1025px) {
    .masthead {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .masthead img {
        width: 117px;
        height: auto;
        margin-right: 32px;
    }
}

@media(min-width:1624px) {
    .masthead img {
        margin-left: -149px;
    }
}
