/*------------------------------------*\
    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.
\*------------------------------------*/

/**
 * Page-head
 */
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-bottom: 10px;
    transition: all 0.25s ease-in-out;
}

@media(min-width:768px) {
    .page-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 16px;
        padding-bottom: 14px;
        background-color: var(--color-white);
    }

    .page-header-wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media(min-width:1200px) {
    .page-header {
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: transparent;
    }

    .page-header.page-sticky {
        background-color: var(--color-white);
        box-shadow: 1px 2px 10px -5px rgba(0,0,0,0.50);
        -webkit-box-shadow: 1px 2px 10px -5px rgba(0,0,0,0.50);
        -moz-box-shadow: 1px 2px 10px -5px rgba(0,0,0,0.50);
    }

    .page-header-wrapper {
        position: relative;
        max-width: 1366px;
        margin: 0 auto;
    }
}

/**
 * Page Logo
 */
.logo {
    padding-top: 10px;
}

@media(min-width:768px) {
    .logo {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.logo a {
    display: block;
}

.logo img {
    width: 100%;
}

.logo-first {
    max-width: 168px;
    margin: 0 auto;
    display: block;
}

@media(min-width:768px) {
    .logo-first {
        max-width: 152px;
        margin-right: 36px;
    }
}

@media(min-width:1200px) {
    .logo-first {
        max-width: 230px;
        margin-right: 55px;
    }
}

@media(min-width:768px) {
    .logo-second {
        max-width: 127px;
    }
}

@media(min-width:1200px) {
    .logo-second {
        max-width: 191px;
    }
}

.logo__blue {
    display: none;
}

@media(min-width:768px) {
    .logo__blue {
        display: block;
    }
}

@media(min-width:1200px) {
    .logo__blue {
        display: none;
    }

    .page-sticky .logo__blue {
        display: block;
    }
}

@media(min-width:768px) {
    .logo__white {
        display: none;
    }
}

@media(min-width:1200px) {
    .logo__white {
        display: block;
    }

    .page-sticky .logo__white {
        display: none;
    }
}

/*
 * Page Nav
 */
.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media(min-width:768px) {
    .page-nav {
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media(min-width:1200px) {
    .page-nav {
        display: block;
        flex-shrink: 0;
    }
}

/*
 * Page Navigation Top
 */
.page-nav-top {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media(min-width:768px) {
    .page-nav-top {
        padding-top: 0;
    }
}

@media(min-width:1200px) {
    .page-nav-top {
        position: relative;
        -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

/*
 * Page Navigation Bottom
 */
.page-nav-bottom {
    display: none;
}

@media(min-width:768px) {
    .page-nav-bottom {
        display: block;
        position: fixed;
        top: 73px;
        left: 100%;
        width: 100%;
        max-height: calc( 100% - 73px);
        overflow-y: auto;
        background-color: var(--color-white);
        transition: all 0.5s ease-in-out;
        padding-bottom: 10px;
        opacity: 0;
    }

    .page-nav-bottom.active {
        left: 0;
        opacity: 1;
    }

    .admin-bar .page-nav-bottom {
        top: 105px;
    }
}

@media(min-width:1200px) {
    .page-nav-bottom {
        position: static;
        opacity: 1;
        background-color: transparent;
        padding-bottom: 0;
        height: auto;
        overflow-y: visible;
    }
}

/*
 * Page Search
 */
.nav-search {
    margin-right: 10px;
    color: var(--color-blue);
}

@media(min-width:768px) {
    .nav-search {
        order: 2;
        margin-right: 0;
        margin-left: 10px;
    }
}

@media(min-width:1200px) {
    .nav-search {
        order: 1;
        margin-left: 0;
        margin-right: 43px;
    }
}

.search__button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--color-white);
}

@media(min-width:768px) {
    .search__button {
        color: var(--color-blue);
    }
}

@media(min-width:1200px) {
    .search__button {
        color: var(--color-white);
        font-size: 18px;
        transition: all 0.25s ease-in-out;
    }

    .search__button:hover {
        color: var(--color-green);
    }

    .page-sticky .search__button:hover {
        color: var(--color-lightblue);
    }

    .page-sticky .search__button {
        color: var(--color-blue);
    }

}

.mobile-nav .search__button {
    color: var(--color-blue);
}

.search__button.icon-search {
    font-size: 20px;
}

.search__button.icon-close {
    font-size: 20px;
}

@media(min-width:1200px) {
    .search__button.icon-hide {
        display: none;
    }
}

/*
 * Page Search Form
 */
.nav-form {
    position: fixed;
    top: -20%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: 999;
    border-bottom: 1px solid var(--color-blue);
}

@media(min-width:768px) {
    .nav-form {
        top: 73px;
        left: 100%;
    }

    .admin-bar .nav-form {
        top: 105px;
    }
}

@media(min-width:1200px) {
    .nav-form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 80%;
        max-width: 200px;
        border-bottom: 2px solid var(--color-white);
    }

    .admin-bar .nav-form {
        top: 50%;
    }

    .page-sticky .nav-form {
        border-color: var(--color-blue);
    }
}

.nav-form.active {
    top: 0;
    opacity: 1;
}

.admin-bar .nav-form.active {
    top: 46px;
    opacity: 1;
}

@media(min-width:768px) {
    .nav-form.active {
        top: 73px;
        left: 0;
    }

    .admin-bar .nav-form.active {
        top: 105px;
    }
}

@media(min-width:1200px) {
    .nav-form.active,
    .admin-bar .nav-form.active {
        top: 50%;
        left: auto;
    }
}

.nav-form .search__button {
    background-color: var(--color-blue);
    color: var(--color-white);
}

@media(min-width:768px) {
    .nav-form .search__button {
        display: none;
    }
}

.nav-form input {
    width: 70%;
    height: 40px;
    border: none;
    padding-left: 15px;
    color: var(--color-blue);
}

@media(min-width:768px) {
    .nav-form input {
        width: 90%;
        height: 50px;
        font-size: 16px;
    }
}

@media(min-width:1200px) {
    .nav-form input {
        width: 80%;
        height: auto;
        background-color: transparent;
        padding-left: 0;
        color: var(--color-white);
        font-size: 14px;
    }

    .nav-form input::placeholder {
        color: var(--color-white);
    }

    .page-sticky .nav-form input {
        color: var(--color-blue);
    }

    .page-sticky .nav-form input::placeholder {
        color: var(--color-blue);
    }
}

.nav-form button {
    width: 15%;
    border: none;
    height: 40px;
    background-color: var(--color-green);
}

@media(min-width:768px) {
    .nav-form button {
        width: 10%;
        height: 50px;
    }
}

@media(min-width:1200px) {
    .nav-form button {
        width: auto;
        height: auto;
        background-color: transparent;
        color: var(--color-white);
        padding-right: 0;
    }

    .page-sticky .nav-form button {
        color: var(--color-blue);
    }
}

.nav-form button span {
    font-size: 20px;
}

@media(min-width:768px) {
    .nav-form button span {
        font-size: 22px;
    }
}

@media(min-width:1025px) {
    .nav-form button span {
        font-size: 20px;
        font-weight: 500;
    }
}


/*
 * Page Socials
 */
.nav-social {
    display: none;
}

@media(min-width:1200px) {
    .nav-social {
        display: block;
        order: 2;
        margin-right: 38px;
    }

    .nav-social a {
        margin-right: 10px;
        font-size: 18px;
        color: var(--color-white);
    }

        .nav-social a:hover {
            color: var(--color-green);
        }

        .page-sticky .nav-social a:hover {
            color: var(--color-lightblue)
        }

        .nav-social a:last-child {
            margin-right: 0;
        }

    .page-sticky .nav-social a {
        color: var(--color-blue);
    }
}

/*
 * Page Buttons
 */
 @media(min-width:768px) {
    .nav-buttons {
        order: 1;
    }
}

@media(min-width:1200px) {
     .nav-buttons {
         order: 3;
     }
 }

.nav-buttons .btn-primary,
.nav-buttons .btn-secondary {
    padding: 5px 19px;
}

.nav-buttons .btn-secondary {
    border-color: var(--color-white);
    color: var(--color-white);
    margin-right: 10px;
}

@media(min-width:768px) {
    .nav-buttons .btn-secondary {
        border-color: var(--color-blue);
        color: var(--color-blue);
        padding: 9px 22px;
    }
}

@media(min-width:1200px) {
    .nav-buttons .btn-secondary {
        border-color: var(--color-white);
        color: var(--color-white);
        padding: 13px 50px;
        margin-right: 0;
    }

    .nav-buttons .btn-secondary:hover {
        background-color: var(--color-white);
        color: var(--color-blue);
    }

    .page-sticky .nav-buttons .btn-secondary {
        border-color: var(--color-blue);
        color: var(--color-blue);
    }

    .page-sticky .nav-buttons .btn-secondary:hover {
        background-color: var(--color-blue);
        color: var(--color-white);
    }
}

.mobile-nav .nav-buttons .btn-secondary {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.nav-buttons .btn-primary {
    background-color: var(--color-white);
    color: var(--color-blue);
}

@media(min-width:768px) {
    .nav-buttons .btn-primary {
        background-color: var(--color-green);
        padding: 9px 45px;
    }
}

@media(min-width:1200px) {
    .nav-buttons .btn-primary {
        background-color: var(--color-white);
        color: var(--color-blue);
        padding: 13px 50px;
    }

    .nav-buttons .btn-primary:hover {
        background-color: transparent;
        border-color: var(--color-white);
        color: var(--color-white);
    }

    .page-sticky .nav-buttons .btn-primary {
        background-color: var(--color-green);
        color: var(--color-blue);
    }

    .page-sticky .nav-buttons .btn-primary:hover {
        background-color: transparent;
        border-color: var(--color-green);
        color: var(--color-green);
    }
}

.mobile-nav .nav-buttons .btn-primary {
    background-color: var(--color-green);
}

/*
 * Mobile
 */
.page-mobile {
    overflow: hidden;
}

@media(min-width:768px) {
    .page-mobile {
        display: none;
    }
}

.mobile-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--color-white);
}

.mobile-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--color-skyblue);
}

.mobile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-links .btn-primary {
    background-color: var(--color-green);
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 30px;
}

.mobile-links .btn-primary span {
    margin-left: 10px;
    font-size: 15px;
}

.mobile-links .icon-mobile {
    font-size: 30px;
    margin-left: 16px;
    color: var(--color-blue);
}

/*
 * Mobile Hamburger
 */

.hamburger {
    padding-right: 20px;
}

.hamburger a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-blue);
}

.hamburger a.active {
    color: var(--color-lightblue);
}

.hamburger a .icon-menu {
    font-size: 28px;
    transition: all 0.25s ease-in-out;
}

.hamburger a .icon-close {
    font-size: 20px;
    margin-bottom: 5px;
    transition: all 0.25s ease-in-out;
}

.tablet-hamburger {
    display: none;
}

@media(min-width:768px) {
    .tablet-hamburger {
        display: block;
        padding-right: 0;
        padding-left: 18px;
    }
}

@media(min-width:1200px) {
    .tablet-hamburger {
        display: none;
    }
}

/*
 * Mobile Navigation
 */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: var(--color-white);
    width: 100%;
    height: calc( 100% - 57px );
    overflow-y: auto;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.mobile-nav.active {
    left: 0;
    opacity: 1;
}

.admin-bar .mobile-nav {
    top: 46px;
    height: calc( 100% - 103px );
}

.mobile-nav-wrapper {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*
 * Mobile Menu
 */
.mobile-menu {
    padding-top: 25px;
}

/* Fix sticky header position for when admin bar visible
   TODO: Uncomment if design has sticky header */
 .admin-bar .page-header,
 .admin-bar .page-mobile {
    top: 32px;
}

@media screen and (max-width: 782px) {
    .admin-bar .page-header,
    .admin-bar .page-mobile {
        top: 46px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (max-width: 1024px) {
    /* TODO: Add Retina-specific logo here - see instructions https://webpagefx.mangoapps.com/mlink/wiki/NjA3Nzg */
}

/**
 * Navigation
 */

/* General Styling */
.nav-primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(min-width:1200px) {
    .nav-primary ul {
        display: flex;
    }
}

.nav-primary li {
    cursor: pointer;
    position: relative;
    margin-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(min-width:1200px) {
    .nav-primary li {
        padding: 0;
        margin-right: 30px;
        margin-bottom: 0;
        padding-bottom: 6px;
    }

        .nav-primary li:last-child {
            margin-right: 0;
        }

        .nav-primary li:hover a,
        .nav-primary li:hover .sub-menu-toggle {
            color: var(--color-green);
        }

        .page-sticky .nav-primary li:hover > a,
        .page-sticky .nav-primary li:hover .sub-menu-toggle {
            color: var(--color-lightblue);
        }
}

.nav-primary li:last-child {
    margin-bottom: 0;
}

.nav-primary li:before,
.nav-primary li:after {
    display: none;
    /* hide any custom bullet styling */
}

.nav-primary a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-blue);
}

@media(min-width:1200px) {
    .nav-primary a {
        color: var(--color-white);
    }

    .page-sticky .nav-primary a {
        color: var(--color-blue);
    }
}

/* 1st Level */
.nav-primary > ul > li {
    display: block;
}

.nav-primary .menu-item-has-children {
    position: relative;
}

.nav-primary .menu-item-has-children.js-toggled {
    background-color:  var(--color-skyblue);
}

.nav-primary .menu-item-has-children > a {
    padding-right: 20px;
}

@media(min-width:1200px) {
    .nav-primary .menu-item-has-children > a {
        padding-right: 0;
    }

    .nav-primary .menu-item-has-children:hover .sub-menu {
        display: block;
    }
}

/* Sub Menus */
.nav-primary .sub-menu-toggle {
    position: absolute;
    top: 12px;
    right: 22px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    transition: all 0.25s ease-in-out;
}

@media(min-width:1200px) {
    .nav-primary .sub-menu-toggle {
        display: none;
    }
}

.nav-primary .sub-menu {
    display: none;
    position: relative;
    padding-top: 15px;
}

@media(min-width:1200px) {
    .nav-primary .sub-menu {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        max-width: 230px;
        background-color: var(--color-white);
        padding: 15px 10px;
    }
}

.nav-primary .sub-menu.js-toggled {
    display: block;
}

.nav-primary .sub-menu li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(min-width:1200px) {
    .nav-primary .sub-menu li {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.nav-primary .sub-menu li a {
    font-weight: 500;
}

@media(min-width:1200px) {
    .nav-primary .sub-menu li:hover {
        background-color: var(--color-skyblue);
    }

    .nav-primary .sub-menu li:hover a {
        font-weight: 700;
        color: var(--color-blue);
    }

    .nav-primary .sub-menu li a {
        color: var(--color-blue);
    }
}

/* 3rd Level Sub Menus */
.nav-primary .sub-menu .sub-menu {
    top: 0;
    left: 0;
}

/*
 * Masthead
 */
.masthead {
    background: #EFF5FC;
    padding-top: 26px;
    padding-bottom: 16px;
}

.masthead--content h1 {
    margin: 0;
    line-height: 1em;
}

.breadcrumbs ::marker {
    display: none;
    content: '';
}

.breadcrumbs {
    font-size: 14px;
    color: #6C9EDC;
    font-weight: 700;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs a {
    color: #112878;
    font-weight: 700;
}

.breadcrumbs .icon {
    color: #112878;
    font-size: 7px;
    margin: 0 8px;
}

@media(min-width:768px) {
    .masthead {
        padding-top: 43px;
        padding-bottom: 43px;
    }

    .masthead .flex-wrap {
        display: flex;
        align-items: center;
    }

    .masthead img {
        width: 55px;
        height: auto;
        margin-right: 24px;
    }

    .breadcrumbs,
    .breadcrumbs a {
        font-size: 18px;
    }

    .breadcrumbs .icon {
        font-size: 10px;
        margin: 0 16px;
    }
}

@media(min-width:1025px) {
    .masthead {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .masthead img {
        width: 117px;
        height: auto;
        margin-right: 32px;
    }
}

@media(min-width:1624px) {
    .masthead img {
        margin-left: -149px;
    }
}
