/*------------------------------------*\

    Half & Half Image + Text Block Customizations - Global Styling

    The styles you add to this file will be applied to both the 'Half & Half Image + Text - Image Block Left'
    and the 'Half & Half Image + Text - Image Block Right' blocks. If there is any reasons why you would need to style them seperately,
    please create a block-specific stylesheet for them (don't forget to resiger that block-specific stylesheet in acf-start-blocks.php)

\*------------------------------------*/

.image-text--innerpage{
    padding-top: 32px;
    padding-bottom: 32px;
}

.image-text--innerpage + .image-text--innerpage{
    padding-top: 0;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.image-text .flex-row {
    align-items: center
}

.image-text__img {
    overflow: hidden;
    border-radius: 12px;
}

.image-text__img img{
    border-radius: 12px;
    margin-bottom: 32px;
}

@media(min-width:768px){
    .image-text--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }
}

@media(min-width:1025px){
    .image-text--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .image-text--right .image-text__text {
        padding-right: 48px;
    }

    .image-text--left .image-text__text {
        padding-left: 48px;
    }

    .image-text__img {
        overflow: hidden;
        border-radius: 12px;
    }

    .image-text__img img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
    }
}
