.families--innerpage{
    padding-top: 32px;
    padding-bottom: 32px;
}



@media(min-width:768px){
    .families--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }


}

@media(min-width:1025px){
    .families--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }


}
