.financials--innerpage{
    padding-top: 32px;
    padding-bottom: 32px;
    background: #F0F5FC;
    position: relative;
}

.financial-reports--wrapper {
    margin-top: 26px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(108, 146, 210, 0.16);
    padding: 24px 12px;
}

.financial-reports--wrapper .small-blue {
    color: #6d9edc;
    display: flex;
    align-items: center;
}

.financial-reports--wrapper .small-blue svg {
    margin-right: 6px;
}

.financials--innerpage .fxa-accordion__panel .fxa-accordion__panel__toggle:after{
    border:none;
    width: auto;
    height: auto;
    content: "\e908";
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #112878;
}

.financials--innerpage .fxa-accordion__panel.is-expanded .fxa-accordion__panel__toggle:after{
    border: none;
    content: "\e907";

}

.financials--innerpage .fxa-accordion__panel .fxa-accordion__panel__toggle h3{
    margin: 0;
}



.financials--innerpage .fxa-accordion__panel__content {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    padding: 20px 10px;
}

.financials--innerpage .fxa-accordion__panel__content a{
    display: block
}

.financials--innerpage .fxa-accordion__panel .fxa-accordion__panel__toggle {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    background: transparent;
    border-radius: 0;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.financials--innerpage .fxa-accordion {
    max-height: 356px;
    overflow-y: scroll;
}

.financials--innerpage .fxa-accordion::-webkit-scrollbar {
    width: 9px;
}

.financials--innerpage .fxa-accordion::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 3px 13px rgba(108, 158, 220, 0.16);
}

.financials--innerpage .fxa-accordion::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #112878
}

.financial-content-right--wrapper {
    margin-top: 60px;
}

.financials--innerpage .bkg-img{
    width: 244px;
    position: absolute;
    bottom: 0;
    right: -24px;
}

.financial-content-right--box h2{
    margin: 0;
    margin-top: 12px;
    font-size: 26px;
}

.financial-content-right--box h2 + p{
    margin-top: 0;
}

.financial-content-right--box {
    margin-top: 60px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 3px 12px rgb(108, 146, 210, .16);
    padding: 12px 18px;
    margin-bottom: 290px;
}



@media(min-width:768px) {
    .financials--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .financials--innerpage .bkg-img{
        width: 430px;
        right: -100px;
    }

    .financial-content-right--box h2{
        font-size: 48px;
    }


    .financial-content-right--box {
        padding: 24px 74px 42px 52px;
        margin-bottom: 68px;
    }
}

@media(min-width:1025px){
    .financials--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
