.full-width-image--innerpage{
    text-align: center;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #fff;
}

.full-width-image--innerpage:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(17, 40, 120, 0.7);
    z-index: -1;

}

.full-width-image--innerpage .bkg-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.full-width-image--innerpage h1, .full-width-image--innerpage .h1,
.full-width-image--innerpage h2, .full-width-image--innerpage .h2,
.full-width-image--innerpage h3, .full-width-image--innerpage .h3,
.full-width-image--innerpage h4, .full-width-image--innerpage .h4,
.full-width-image--innerpage h5, .full-width-image--innerpage .h5,
.full-width-image--innerpage p{
    color: #fff;
}

@media(min-width:768px){
    .full-width-image--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }
}

@media(min-width:1025px){
    .full-width-image--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
