.history--innerpage{
    padding-top: 32px;
    padding-bottom: 32px;
}

.history-card {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 36px;
}

.history-card--image {
    position: relative;
    height: 180px;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
}

    .history-card--image img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.history-card--content {
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(108, 146, 210, 0.16);
    padding: 33px 14px 28px 14px;
    position: relative;
}

    .history-card--content:before {
        content: '';
        width: 0px;
        height: 0px;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-bottom: 18px solid #fff;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

.history-card--content h3{
    margin: 0;
    font-size: 26px;
}

.history-card--content h4{
    margin: 0;
    font-size: 18px;
}




@media(min-width:768px){
    .history--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .history-card {
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 0px 3px 12px rgb(108 146 210 / 16%);
        overflow: hidden;
        border-radius: 12px;
    }

    .history-card--image {
        height: auto;
        width: 25%;
        border-radius: 0;
    }

    .history-card--content {
        width: 75%;
        border-radius: 0;
        box-shadow: none;
        padding: 26px;
    }
        .history-card--content:before {
            right: -17px;
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent;
            border-left: 18px solid #fff;
            border-right: none;
            left: auto;
            top: 50%;
            transform: translate(0px, -50%);
        }

        .history-card--content h3{
            margin-bottom: 6px;
        }





}

@media(min-width:1025px){
    .history--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .history-card--image {
        min-width: 182px;
    }

    .history-card--content {
        flex-grow: 1;
    }
}
