.team--innerpage{
    padding-top: 32px;
    padding-bottom: 32px;
}

/*When there is a background white above the team section removes the extra padding*/
.background--white + .team--innerpage{
    padding-top: 0;
}

.team--content{
    text-align: center;
}


/*Slider Card CSS*/

.team-member--slider{
    margin-top: 36px;
}

.team-member--slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #112878;
}

.team-member--slider .slick-arrow.icon-Right {
    left: 0;
}
.team-member--slider .slick-arrow.icon-Left {
    right: 0;
}

.team-member--slider .team-member-card{
    display: flex !important;
    position: relative;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    color: #fff;
    padding: 64px 12px 12px 12px;
}

.team-member--slider .team-member-card--content {
    position: relative;
    z-index: 3;
    text-align: center;
}

.team-member--slider .team-member-card--content h5,
.team-member--slider .team-member-card--content p{
    color: #fff;
}

.team-member--slider .team-member-card--content p{
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
}

.team-member--slider .team-member-card--content .team-email {
    color: #7ECB53;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    font-size: 14px;
}

.team-member--slider .team-member-card--content .team-email .icon{
    margin-right: 8px;
}

.team-member--slider .team-member-card:before{
    content:'';
    background: rgba(17, 40, 120, 0.94);
    opacity: 0.79;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;


}

.team-member--slider .slick-slide {
    padding: 0 32px;
}

.team-member--slider .team-member-img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.team-member--slider .hand-icon{display: none;}





@media(min-width:768px){
    .team--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }

    /*Slider Card CSS*/

    .team-member--slider{
        max-width: 547px;
        margin:auto;
        margin-top: 36px;
    }

    .team-member--slider .slick-slide{
        padding: 0 8px;
    }

    .team-member--slider .team-member-card{
        padding: 80px 12px 12px 12px;
    }

    .team-member--slider .team-member-card--content .team-email{
        margin-top: auto;
    }

    .team-member--slider .team-member-card--content p{
        margin-bottom: 70px;
    }
    .team-member--slider .team-member-card--content{

        display: flex;
        flex-direction: column;
    }

    .team-member--slider .slick-arrow.icon-Right {
        left: -64px;
    }
    .team-member--slider .slick-arrow.icon-Left {
        right: -64px;
    }


}

@media(min-width:1025px){
    .team--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    /*Slider Card CSS*/

    .team-member--slider{
        max-width: 1098px;
    }
    .team-member--slider .team-member-card--content{
        opacity: 0;
    }

    .team-member--slider .team-member-card:hover .team-member-card--content{
        opacity: 1;
    }

    .team-member--slider .hand-icon {
        display: block;
        position: absolute;
        bottom: 0;
        left: 6px;
        z-index: 9;
        width: 90px;
    }

    .team-member--slider .team-member-card:hover .hand-icon{
        opacity: 0;
    }

    .team-member--slider .team-member-card:before{
        background: linear-gradient(rgba(17, 40, 120, 0) 0%, #112878 100%);
        opacity: 0.79;
        box-shadow: 0px 3px 12px rgba(108, 146, 210, 0.16);

    }

    .team-member--slider .team-member-card:hover:before{
        background: rgba(17, 40, 120, 0.94);
    }
}
