/*
 * Fitvids css
 */

 .video-text--innerpage{
     padding-top: 32px;
     padding-bottom: 32px;
 }

 .video-text--innerpage + .video-text--innerpage,
 .video-text--innerpage + .image-text--innerpage,
 .image-text--innerpage + .video-text--innerpage{
     padding-top: 0;
 }

.video--fitvids {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 32px;
}

.video--fitvids video,
.video--fitvids iframe {
    width: 100%;
    height: auto;
}

.video-text-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #000;
    padding: 0;
    border: none;
}

.video-text-cover__img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: all .3s ease;
}

.video-text-cover:hover .video-text-cover__img {
    opacity: 1;
}

.video-text-cover__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3.5em;
}

.video-text-cover__link svg {
    max-width: 65px;
    height: auto;
    display: block;
}

.video-text-cover__link svg path {
    fill: #fff;
}

@media(min-width:768px){
    .video-text--innerpage{
        padding-top: 68px;
        padding-bottom: 68px;
    }
}

@media (min-width: 1025px) {
    .video-text--innerpage{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .video-text__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .video-text__flex--right {
        flex-direction: row-reverse;
    }

    .video-text__text{
        padding-left: 48px;
    }

    .video-text__flex--right .video-text__text{
        padding-right: 48px;
        padding-left: 0;
    }
}

.video-text__text > h2 {
    margin-top: 0;
}
