/*------------------------------------*\
 * Logo Slider css
\*------------------------------------*/
.logo-slider {
    background-color: var(--color-lightblue);
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(min-width:768px) {
    .logo-slider {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media(min-width:768px) {
    .logo-slider {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.logo-slider-wrapper {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

/*
 * Slick Arrow
 */
.logo-slider-wrapper .slick-arrow {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: var(--color-white);
}

.logo-slider-wrapper .slide-left {
    right: -5px;
    left: auto;
}

.logo-slider-wrapper .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width:768px) {
    .logo-slider-wrapper .slick-slide  {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(min-width:1025px) {
    .logo-slider-wrapper .slick-slide  {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo-slide {
    width: 100%;
    transition: all 0.25s ease-in-out;
}

@media(min-width:1025px) {
    .logo-slide:hover {
        transform: scale(1.1);
    }
}

.logo-slide img {
    margin: 0 auto;
}
