.wysiwyg{
    padding-top: 32px;
    padding-bottom: 32px;
}
.wysiwyg.background--white{
    background: #fff;
}



.wysiwyg.background--blue{
    background: #F3F7FC;
}

/*When there are two whites or two blues the extra padding is removed*/
.wysiwyg.background--white + .wysiwyg.background--white,
.wysiwyg.background--blue + .wysiwyg.background--blue{
    padding-top: 0;
}

.wysiwyg__content img {
    border-radius: 12px;
}

@media(min-width:768px){
    .wysiwyg{
        padding-top: 68px;
        padding-bottom: 68px;
    }
}

@media(min-width:1025px){
    .wysiwyg{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .wysiwyg__content .alignright {
        position: relative;
        margin-right: -16.666666667%;
    }

}
