
.contact-wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
}

.contact-wrapper .form-wrapper {
    margin-top: 40px;
}

.contact-info:before {
    content: "";
    position: absolute;
    border: 2px solid #ccebbb;
    height: 100%;
    left: -5px;
}

.contact-address h5 {
    padding-bottom: 29px;
    color: #112878;
}

.contact-info span {
    display: block;
    color: #112878;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.location-icon:before, .phone-icon:before, .email-icon:before{
    font-family: 'icomoon' !important;
    margin-right: 9px;
}

.location-icon:before {
    content: "\e912";
}

.phone-icon:before {
    content: "\e916";
}

.email-icon:before {
    content: "\e909";
}

.contact-address span + p {
    margin-top: 10px;
}

.contact-address span + p, .contact-phone span + a, .contact-email span + a {
    color: #162369;
    font-size: 15px;
}

.contact-phone {
    margin-bottom: 22px;
}

.contact-info .phone-icon, .contact-info .email-icon {
    padding-bottom: 10px;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    color: #162369;
    display: block;
    font-size: 14px;
    padding-bottom: 6px;
}

.form-field input, .form-field select {
    height: 35px;
}

.form-field input, .form-field select, .form-field textarea {
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
}


.form-field textarea {
    resize: none;
    height: 137px;
}

.form-field .btn {
    width: 100%;
    margin-top: 20px;
}

.form-field input, .form-field textarea {
    padding: 15px 0 15px 24px;
    font-size: 14px;
}

.form-field ::placeholder {
    color: #A5A5A5;
}

.form-field .select-subject {
    color: #A5A5A5;
    padding-left: 24px;
    font-size: 14px;
}